//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffd900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #ffffffc0;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-medium: #777;
$color-grey-dark: #0000002d;

//FONT
$font-size-sm: 1.5rem;
$default-font-size: 1.6rem;
$font-size-md: 1.8rem;
$font-size-l: 2rem;
$font-size-xl: 3rem;

//SHADOW BOX

$rgba-shadow: rgba($color-black, 0.2);

//GRID
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-v-sm: 6rem;
$gutter-h: 6rem;
