.composition {
  position: relative;
  &__photo {
    z-index: 1;
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // border-radius: 0.2rem;

    transition: all 0.3s;

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 0;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 0.5rem solid $color-primary-light;
      outline-offset: 1rem;
      z-index: 2;
      transform: scale(1.05) translateY(-0.5rem);

      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.6);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
