.u-center-text {
  text-align: center !important;
}

.u-margin-b-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-b-md {
  margin-bottom: 4rem !important;
}

.u-margin-b-l {
  margin-bottom: 8rem !important;
}

.u-margin-t-md {
  margin-top: 4rem !important;
}

.u-margin-t-l {
  margin-top: 8rem !important;
}

.u-margin-t-xl {
  margin-top: 10rem !important;
}
